language: elixir
sudo: false

matrix:
  include:
    - elixir: 1.3.4
      env: CAYLEY=v0.6.1 CAYLEY_PKG=v0.6.1
      otp_release: 18.3
    - elixir: 1.4.5
      env: CAYLEY=v0.7.0 CAYLEY_PKG=0.7.0
      otp_release: 19.3
    - elixir: 1.5.3
      env: CAYLEY=v0.7.1 CAYLEY_PKG=0.7.1
      otp_release: 20.2
    - elixir: 1.6.4
      env: CAYLEY=v0.7.2 CAYLEY_PKG=0.7.2
      otp_release: 20.2
      after_success: mix coveralls.travis

before_install: |-
  wget -q "https://github.com/cayleygraph/cayley/releases/download/${CAYLEY}/cayley_${CAYLEY_PKG}_linux_amd64.tar.gz"
  tar -xvzf "cayley_${CAYLEY_PKG}_linux_amd64.tar.gz"

  pushd "cayley_${CAYLEY_PKG}_linux_amd64"
    ./cayley http --db=memstore --dbpath="" 2>/dev/null &
  popd

after_script:
  - ps | grep 'cayley' | grep -v 'grep' | awk '{ print $1 }' | xargs kill
