language:    elixir
otp_release: 18.3
elixir:      1.2.6

sudo: false

env:
  global:
    - MIX_ENV=test
  matrix:
    - CAYLEY=v0.6.0
    - CAYLEY=v0.6.1 TRAVIS_COVERAGE=true

matrix:
  include:
    - elixir: 1.3.4
      env:    CAYLEY=v0.6.1
    - elixir: 1.4.4
      env:    CAYLEY=v0.6.1
    - elixir:      1.4.4
      env:         CAYLEY=v0.6.1
      otp_release: 19.3

before_install: |-
  wget -q "https://github.com/cayleygraph/cayley/releases/download/${CAYLEY}/cayley_${CAYLEY}_linux_amd64.tar.gz"
  tar -xvzf "cayley_${CAYLEY}_linux_amd64.tar.gz"

  pushd "cayley_${CAYLEY}_linux_amd64"
    ./cayley http -db=memstore -dbpath="" &
  popd

after_success: |-
  if [ ! -z "${TRAVIS_COVERAGE}" ]; then
    mix coveralls.travis
  fi

after_script:
  - ps | grep 'cayley' | grep -v 'grep' | awk '{ print $1 }' | xargs kill
