language: elixir
sudo: false

jobs:
  include:
    - &test
      stage: test
      elixir: 1.5.3
      env: CAYLEY=0.7.0 CAYLEY_TAG=v0.7.0
      otp_release: 18.3
      before_install: |-
        wget -q "https://github.com/cayleygraph/cayley/releases/download/${CAYLEY_TAG}/cayley_${CAYLEY}_linux_amd64.tar.gz"
        tar -xvzf "cayley_${CAYLEY}_linux_amd64.tar.gz"

        pushd "cayley_${CAYLEY}_linux_amd64"
          ./cayley http --db=memstore --dbpath="" 2>/dev/null &
        popd
      after_script:
        - ps | grep 'cayley' | grep -v 'grep' | awk '{ print $1 }' | xargs kill
    - <<: *test
      elixir: 1.6.6
      env: CAYLEY=0.7.1 CAYLEY_TAG=v0.7.1
      otp_release: 19.3
    - <<: *test
      elixir: 1.7.4
      env: CAYLEY=0.7.2 CAYLEY_TAG=v0.7.2
      otp_release: 20.3
    - <<: *test
      elixir: 1.7.4
      env: CAYLEY=0.7.3 CAYLEY_TAG=v0.7.3
      otp_release: 21.0
    - <<: *test
      elixir: 1.7.4
      env: CAYLEY=0.7.4 CAYLEY_TAG=v0.7.4-2
      otp_release: 21.0
    - <<: *test
      elixir: 1.7.4
      env: CAYLEY=0.7.5 CAYLEY_TAG=v0.7.5
      otp_release: 21.0
      after_success: mix coveralls.travis

    - stage: code quality
      elixir: 1.7.4
      otp_release: 21.0
      script: mix format --check-formatted
