language: elixir

sudo: false
env:  CAYLEY=0.4.0 MIX_ENV=test

before_install:
  - wget -q "https://github.com/google/cayley/releases/download/v${CAYLEY}/cayley_${CAYLEY}_linux_amd64.tar.gz"
  - tar -xvzf "cayley_${CAYLEY}_linux_amd64.tar.gz"
  - cd "cayley_${CAYLEY}_linux_amd64"
  - ./cayley http --db=memstore --dbpath="" &

after_success:
  - mix coveralls.travis
