language:    elixir
otp_release: 18.3
elixir:      1.3.4

sudo: false

env:
  matrix:
    - CAYLEY=v0.6.1 CAYLEY_PKG=v0.6.1 TRAVIS_COVERAGE=true
    - CAYLEY=v0.7.0 CAYLEY_PKG=0.7.0

matrix:
  include:
    - elixir: 1.4.5
      env:    CAYLEY=v0.6.1 CAYLEY_PKG=v0.6.1
    - elixir: 1.5.1
      env:    CAYLEY=v0.6.1 CAYLEY_PKG=v0.6.1
    - elixir:      1.5.1
      env:         CAYLEY=v0.6.1 CAYLEY_PKG=v0.6.1
      otp_release: 19.3
    - elixir:      1.5.1
      env:         CAYLEY=v0.6.1 CAYLEY_PKG=v0.6.1
      otp_release: 20.0
  allow_failures:
    - env: CAYLEY=v0.7.0 CAYLEY_PKG=0.7.0

before_install: |-
  wget -q "https://github.com/cayleygraph/cayley/releases/download/${CAYLEY}/cayley_${CAYLEY_PKG}_linux_amd64.tar.gz"
  tar -xvzf "cayley_${CAYLEY_PKG}_linux_amd64.tar.gz"

  pushd "cayley_${CAYLEY_PKG}_linux_amd64"
    ./cayley http --db=memstore --dbpath="" &
  popd

after_success: |-
  if [ ! -z "${TRAVIS_COVERAGE}" ]; then
    mix coveralls.travis
  fi

after_script:
  - ps | grep 'cayley' | grep -v 'grep' | awk '{ print $1 }' | xargs kill
