language:    elixir
otp_release: 18.3
elixir:      1.2.6

matrix:
  include:
    - elixir: 1.3.4
    - elixir: 1.4.4
    - elixir:      1.4.4
      otp_release: 19.3

sudo: false
env:  CAYLEY=v0.6.0 MIX_ENV=test

before_install:
  - wget -q "https://github.com/cayleygraph/cayley/releases/download/${CAYLEY}/cayley_${CAYLEY}_linux_amd64.tar.gz"
  - tar -xvzf "cayley_${CAYLEY}_linux_amd64.tar.gz"
  - cd "cayley_${CAYLEY}_linux_amd64"
  - ./cayley http --db=memstore --dbpath="" &
  - cd "${TRAVIS_BUILD_DIR}"

after_success:
  - mix coveralls.travis

after_script:
  - ps | grep 'cayley' | grep -v 'grep' | awk '{ print $1 }' | xargs kill
